<div class="login">
  <form class="custom-form">
    <h1>Editar usuario</h1>
    <input
      type="text"
      name="nombre"
      required="required"
      [(ngModel)]="nombre"
      #it="ngModel"
    />
    <input
      type="email"
      name="email"
      required="required"
      [(ngModel)]="email"
      #it="ngModel"
    />
    <input
      type="text"
      name="username"
      required="required"
      [(ngModel)]="username"
      #it="ngModel"
    />
    <input
      type="password"
      name="password"
      placeholder="******"
      required="required"
      [(ngModel)]="password"
      #it="ngModel"
    />
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

    <button type="submit" (click)="editar()">Editar</button>
  </form>
</div>
