<div class="login">
  <form class="custom-form" method="post">
    <h1>Crear usuario</h1>
    <input
      type="text"
      name="nombre"
      placeholder="Ingresar Nombre"
      required="required"
      [(ngModel)]="nombre"
      #it="ngModel"
    />
    <input
      type="email"
      name="email"
      placeholder="Ingresar Email"
      required="required"
      [(ngModel)]="email"
      #it="ngModel"
    />
    <input
      type="text"
      name="username"
      placeholder="Ingresar Username"
      required="required"
      [(ngModel)]="username"
      #it="ngModel"
    />
    <input
      type="password"
      name="password"
      placeholder="Password"
      required="required"
      [(ngModel)]="password"
      #it="ngModel"
    />
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

    <button type="submit" (click)="login()">Crear</button>
  </form>
</div>
